* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: black;
  &__container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    cursor: pointer;
  }
  &__img {
    pointer-events: none;
    width: 20%;
    height: 20%;
  }
  &__navigation {
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 10;
  }
  &__block {
    display: flex;
    @media (max-width: 767px) {
      display: none;
      position: absolute;
      top: 17px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: black;
    }
  }
  &__block.expanded {
    @media (max-width: 767px) {
    display: flex;
    }
  }
  &__link {
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family:'Roboto';
    letter-spacing: 0.2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    display: block;
    padding: 30px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s linear;
    text-align: center;
    &:hover {
      border-bottom: 3px solid rgb(255, 255, 255);
    } 
    &:active {
      color: rgba(153, 107, 96, 1);
      border-bottom: 3px solid rgba(153, 107, 96, 1);
    }
  }
  &__nav-mobile {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    transition: all 0.3s linear;
    @media (max-width: 767px) {
      display: block;
    }
  }
}
